
.black {
    background:rgba(13, 211, 145, 0.986);
    color: white;
    }


/* hero section */
.image-container-why-online{
    /* height: 600px; */
    height: 100vh;
    width: 100%;
    
    background-color: rgb(1, 210, 142);
    padding: 10%;
    padding-top: 0;

    /* scroll effect */
    position: relative;
    overflow: hidden;
    /* background: #000; */
  }

  #inner-image-container{
    padding-top: 0%;
    
    align-items:  center;
    
    display: flex;
    width: 85%;
    flex-direction: row-reverse;
    position: absolute;
    /* background-color: aqua; */
    height: 100%;
      
  }

  #chess-image{
    width: 60%;
    /* background-color: aqua; */
    padding-bottom: 5vh;
    scale: 0.9;
    /* z-index: 10; */
    /* scroll effect */
    /* position: absolute; */
  }

  .image-container-why-online h1{
    color: rgb(0, 0, 0);
    font-size:5em;
    font-family:"poppins";
    font-weight: 600;
    /* background-color: #707070; */

  } 

  .image-container-why-online p{
    font-weight: 500;
    font-size: 1em;
    /* background-color: #707070; */
  }

  .image-container-text{
    width: 40%;
    /* padding-top: -100px; */
    height: 100%;
    /* background-color: aliceblue; */
    align-items: center;
    justify-content: center;
    margin-top: 70vh;
    /* padding-top: 5%;
    text-align: left;
    padding-left: 0%; */

    /* position: absolute */
  }

  .image-container-text h1{
    font-weight: 900;
    /* margin-top: 10vh; */
    animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;

  }

  @keyframes text-pop-up-top {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-10px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 30px 30px rgba(0, 0, 0, 0.3);
    }
  }


  .image-container-text p{
    margin-top: 20px;
    font-weight: 450;
    font-family: "Poppins";
    font-size: 1.1em;
    font-style: italic;
    color: #000000b3;
  }

  .meet-team{
    /* background-color: #707070; */
    padding: 5% 10%;
    width: 100%;
    /* text-align: center; */
    font-family: "Poppins";
  }

  .meet-team h1{
    font-size: 4em;
    font-weight: 700;
    padding-bottom: 20px;
    
  }

  @media screen and (max-width: 820px){
    .image-container-why-online{
      flex-direction: column-reverse;
      /* padding-top: 0; */
      /* padding: 20%; */
      justify-content: center;
      align-items: center;
      /* max-height: 500px; */
      height: 100vh;
      
    }

    #inner-image-container{
      flex-direction: column-reverse;
      /* padding-top: 10%; */

      /* position: relative; */
      
    }
    #chess-image{
      width: 100%;
      opacity:1;
      max-width: 500px;
      padding-bottom: 20vh;
      /* background-color: #707070; */
    }

    .image-container-text{
      /* display: flex; */
      height: 200px;
      width: 100%;
      /* background-color: #707070; */
      padding-top: 0%;
      margin-top: 0%;
      /* margin-bottom: 5%; */
      /* margin-top: 10%; */
    }

    .image-container-text p{
      /* justify-content: center;
      vertical-align: center;
      align-items: center; */
      /* padding-top: 10%; */
      width: 80%;
      margin: auto;
      font-size: 1em;
      text-align: center;
      /* display: none; */
     
    }

    .image-container-text h1{
      font-size: 3.8em;
      text-align: center;
    }

    .meet-team{
      padding: 3em;
      
    }

    .meet-team h1{
      font-size: 2em;
    }

    .meet-team p{
      font-size: 0.8em;

    }

  }

  /* meet the team text */
  


.our-team{
    text-align: center;
    transition: all 0.5s ease 0s;
}
.our-team:hover{
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.our-team .pic{
    overflow: hidden;
    position: relative;
    max-width: 200%;
    max-height: 350px;
  
}
.our-team .pic:before,
.our-team .pic:after{
    content: "";
    width: 200%;
    height: 80%;
    background: rgba(38,37,37,0.8);
    position: absolute;
    top: -100%;
    left: -4%;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}
.our-team .pic:after{
    background: rgba(16, 211, 146, 0.8);
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}
.our-team:hover .pic:before{ top: 0; }
.our-team:hover .pic:after{ bottom: 0; }
.our-team .pic img{
    width: 100%;
    height: auto;
    /* min-height: 400px; */
}

@media screen and (min-width: 576px) {
  .pic img{
    width: 1000px;  
    height: 1000px;
    background-color: aqua;
  }
}

.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 45%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(255,114,94);
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

#grand-master{
  font-size: 18px;
  font-weight: 500;
}
.our-team .social li a:hover:after{ transform: rotate(180deg); }
.our-team .team-content{ padding: 0px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #047168;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 20px;
    
}
.our-team .post{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #707070;
    text-transform: capitalize;
    margin-bottom: 10px;
    height: 25px;
}

#team-bottom{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.team-content ul{
    font-size: 15px;
    text-align: left;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 450;
    list-style-type: none;
    
    width: 100%;
    /* background-color: #707070; */
}

.team-content-text{
  padding-left: 10px;
  display: block;
  float: right;
  margin-top: -5px;
  margin-right: 10px;
  margin-bottom: 7px;
  
  /* background-color: #707070; */
  /* width: 95%; */
}

.team-content ul li{
  display: flex;
  /* background-color: #707070; */
  padding-bottom: 5px;
}

.team-content ul i{
  padding-right: 10px;
  float: left;
}

.team-bio{
  padding-bottom: 20px;
  
}


@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}


 
.mouse_scroll {
	/* display: block; */
	/* margin: 0 auto; */
  /* top: 10%; */
  padding-top: 85vh;
	width: 24px;
	height: 100%;
  margin-left: auto;
  margin-right: auto;
	/* margin-top: 55%; */
  /* margin-bottom: 0%;
  align-items: flex-end;
  background-color: aqua; */
  /* background-color: #047168; */
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid rgb(0, 0, 0);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: rgb(0, 0, 0);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid rgb(0, 0, 0);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 20px; }
  50% { top: 30px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 20px; }
  50% { top: 30px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 5px; }
  50% { top: 10px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

